@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sora:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.btn-primary{
    padding: 10px 30px;
    font-family: 'sora';
    font-size: 20px;
    border-radius: 8px;
    color: #fff;
    background-color: #179800;
    border: none;
}
.primary-font{
    font-family:'sora', serif, arial;
}
.primary-bg{
    background-color:  #efebe3;
}
.primary-color{
    color: #111111;
}
.secondary-color{
    color: #179800;
}
.description{
    font-size: 20px;
    opacity: 0.6;
}
/* navbar styles */
header{
    background: linear-gradient(180deg, #fff 0%, #efebe3 100%);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-logo{
    margin-top: 24px;
    /* margin-right: 200px; */
}
nav ul li{
    list-style: none;
}
nav ul{
    display: flex;
    gap: 32px;
    /* margin-right: 111px; */

}
nav li a{
    text-decoration: none;
    font-family: 'sora';
    font-size: 24px;
}
.nav-icon-btn img{
    margin-right: 24px;
}
.btn-primary.outline{
    background-color: transparent;
    border: 1px solid #179800;
    margin-right: 12px;
}
.banner{
    text-align: center;
}
.banner .banner-title{
    font-weight: 600;
    font-size: 56px;
    margin: 110px 0 25px 0;
}
.banner .banner-title span{
    color: #179800;
}
/* services styles */
.services-title{
    margin-top: 120px;
}
.heading{
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 600;
}
.services{
    display: flex;
    gap: 24px;
}
.services .services-card{
    background-color:  #efebe3;
    padding: 32px 32px 44px;
    border-radius: 16px;
    text-align: center;
}
.services .services-card .description{
    font-weight: 300;
}
.services-card-title{
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0 12px 0;
}
/* products styles */
.products{
    margin: 140px 0;
    padding: 130px 0 120px;
}
.products-card{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 23px 50px;
}
.products-child{
    display: flex;
    padding: 16px 30px 16px 16px ;
    background-color: #fff;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 10px;
}
.products-rating{
    display: inline-block;
}
.product-img{
    margin-right: 16px;
}
.star-icon{
    margin-right: 11px;
}
.products-rating{
    font-size: 16px;
}
.products-title{
    font-weight: 500;
    font-size: 18px;
    margin: 8px 0;
}
.products-price{
    font-size: 16px;
    font-weight: 500;
}
/* offer styles */
.offer{
    margin-bottom: 140px;
}
.offer-card{
    display: flex;
    gap: 20px;
}
/* grocery news styles  */
.grocery{
    position: relative;
    top: 227px;
    padding: 55px 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    z-index: 9999;
    margin-top: -227px;
}
.grocery-card .heading{
    margin: 0;
}
.grocery-card .description{
    color: #111111;
    opacity: 1;
    margin: 22px 0 38px;
}
.grocery-card form input[type="email"]{
    display: block;
    width: 472px;
    height: 67px;
    padding: 18px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: #c4c4c4;
    outline: none;
}
.grocery-card form input[type="button"]{
    margin-top: 38px;
}
